*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

ul{
    list-style-type: none;
}
.grey{
    background-color: #e4e2e2;
}
/* start container named header */

header{
    display: flex;
    flex-direction: column;
    gap: 5%;
    height: 750px;
    background-image: url("./img/jumbo.png");
    background-repeat: no-repeat;
    background-size: cover;
}


/* ------- */
/* start nav */
.top{
    display: flex;
    justify-content: space-around;

    height: auto;
    flex-wrap: wrap;
    margin-top: 1%;
}

.list-nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    height: 100%;}

.list-nav{
    width: 40%;
    height: auto;
    
    
}

ul li{
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;}

figure>img{
    height: auto;
    width: auto;
}

.logo{
    height: 100%;
}

#login{
    width: 100px;  
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    border-radius:  999em 999em;
    background-color: white;
}
/* finish nav */
/* -------- */


.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 8%;
    color: white;
}

#text{
    width: 50%;
    font-size: 25px;
    text-align: center;

}

#title{
    width: 50%;
    font-size: 65px;
    text-align: center;
}

#button{
    width: 40%;
    min-height: 11%;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}



#button button:last-child{
    background-color: #282B2E;
    color: white;
}


.button1{
    text-decoration: none;
    width: auto;
    padding: 3%;
    border-style: none;
    border-radius: 999em 999em;
}
/* finish container named header */




/* start container named main */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

/* used "flex grow 1" for all divs except the last div with "grow 2"*/

main>div{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

main .block{
    width: 85%;
}


/* create a box for main content */
.block{
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
}



/*block with second class named "invert" switch img and text position */
.invert{
    flex-direction: row-reverse;
}


/* start management content block */
.block .img{

    width: 45%;
    background-repeat: no-repeat;
    background-size: contain;
}




.section1{
    height: 75%;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 8%;
    justify-content: center;
}

.section1 h2{
    font-size: 40px;
    color: black;
    font-weight: 1000;
    text-wrap: wrap;
}


.section1 p{
    line-height: 20px;
}
/* end management block */


.f2{
    height: auto;
}

/* last block != row */
/* start management last block container in main */
/* block with grow 2 */
.lst{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
   
    margin-top: 4%;
}

.lst h2{
    text-align: center;
    font-size: 40px;
    color: black;
    font-weight: 1000;
}

.lst div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.lst p{
    text-align: center;
    width: 65%;
    line-height: 20px;
    margin: 10px;

}


#big{
    display: flex;
    justify-content: center;
}




#lstfoot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    margin:4em auto;
    width: 45%;
    background-image: url("./img/stars.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

#lstfoot span{
font-size: 30px;
font-weight: bold;
margin-top: 8%;
}


#lstfoot a{
   text-decoration: none;
   color: white;
   background-color: #8DA0E0;
   border-radius: 999rem 999rem;
   padding: 2%;
}
/* end last block*/

/* end container named main */



/* start last container in html named footer */
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #23272A;
}

/* start "main" of the footer container */
#final{
    width: 80%;
    height: 90%;
    display: flex;
    gap: 5%;
    border-bottom: 1px solid white;
}

/* start section for left information in main-footer */

#text1{
    font-size: 30px;
    color: #7289DB;
    font-weight: bold;
    width: 100%;
}

#card1{
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 5px;
    margin-top: 5%;
}

#card1 #a{
    display: flex;
    height: 20%;
    gap:2em;
}

#flag{
   width: 30px;
   background-image: url("./img/ita.png");
   background-repeat: no-repeat;
   background-size: contain;
}

#a>a{ 
    display: flex;
    align-items: center;
    font-size: 1em;
    text-decoration: none;
}

#slct-leng{
    display: flex;
    margin-top: 10%;
}

#card2{
margin-top: 5%;
width: 65%;
display: flex;
justify-content: space-between;
gap: 3%;
}

#leng{
    border: 1px solid #23272A;
   color: white;
   background-color:#23272A;
}
/* end section for left information in main-footer */


/* start section for the ul */
.list1{
   
    height: 100%;
    width: calc(100%/4);
}


.list2{
    height: 100%;
    width: calc(100%/4);
    
}


.list3{
   
    height: 100%;
    width: calc(100%/4);
}


.list4{
      
    height: 100%;
    width: calc(100%/4);
}

footer li{
    width: 75%;
    height: 18px;
    margin: 2% 4%;
    display: flex;
    justify-content: left;
}

footer li a{
    text-decoration: none;
    color: white;
}

#card2>div>h3:first-child{
    color: #768EE4;
}


#card2>div>h3{
    margin: 7px;
    margin-left: 4%;
}
/* end section ul */

/* end "main" of the footer container */


/*start footer for the footer container  */
#deep{
    display: flex;
    width: 80%;
    align-items: center;
    height: 20%;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 3em;
}

#register{
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decorsation: none;
    color: white;
    border-radius:  999em 999em;
    background-color: #8D9FE0;
    padding: 1%;
}


#deep figure{
    width: 7%;
    height: 80%;
}
/*end footer for the footer container  */

/* end footer container */


